$balance-item: 55px;
$balance-item-margin: 30px;

.sw-BalanceItem {
  flex-shrink: 0;
  position: relative;
  width: $balance-item + 15;

  &::after {
    background-color: #e3e3e3;
    content: '';
    height: 70px;
    position: absolute;
    right: -$balance-item-margin;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  .sw-BalanceItemsRow & {
    margin-left: $balance-item-margin;
    margin-right: $balance-item-margin;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

@mixin balanceItemSelected() {
  .sw-BalanceItem-selected & {
    opacity: 1;
  }
}

.sw-BalanceItem-Image {
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 30px;
  border-radius: 50%;
  border: solid 1px #f4f4f4;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.12);
  height: $balance-item;
  margin: 0 auto 8px;
  opacity: 0.5;
  width: $balance-item;

  @include balanceItemSelected();
}

.sw-BalanceItem-Amount {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  opacity: 0.5;
  white-space: nowrap;

  @include balanceItemSelected();
}

.sw-BalanceItem-Name {
  color: #868686;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.32;
  text-align: center;
  opacity: 0.5;

  @include balanceItemSelected();
}
