@import "../helpers/variables";

.sw-ModalScrollingWrapper {
  height: calc(100% - #{ $modal-header-height });
  overflow: auto;
  padding-bottom: $main-wrapper-padding;
  padding-left: $main-wrapper-padding;
  padding-right: $main-wrapper-padding;
  padding-top: 25px;
}