.md-ReceiveModal-QR {
  border: 2px solid #000;
  height: 204px;
  margin: 0 auto 40px;
  padding: 15px;
  width: 204px;

  canvas {
    width: 170px !important;
    height: 170px !important;
  }
}

.md-ReceiveModal-Address {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 45px;

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

.md-ReceiveModal-AddressText {
  color: #000;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.35;
  margin-right: 10px;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}

.md-ReceiveModal-Link {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.35;
  text-align: center;
  text-decoration: underline;
}