@import '../helpers/variables';

$avatar-dimensions: 30px;

.sw-TransactionsList {
  padding: 0 $main-wrapper-padding;
}

.sw-TransactionsList-Item {
  align-items: center;
  border-bottom: solid 1px #e3e3e3;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.sw-TransactionsList-ItemMainInfo {
  flex-grow: 1;
}

.sw-TransactionsList-ItemMessage {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: left;
  word-break: break-all;
}

.sw-TransactionsList-ItemAvatar {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: $avatar-dimensions;
  justify-content: center;
  margin: 0;
  min-height: $avatar-dimensions;
  min-width: $avatar-dimensions;
  overflow: hidden;
  width: $avatar-dimensions;

  img,
  canvas {
      display: block;
      height: $avatar-dimensions !important;
      width: auto !important;
  }
}

.sw-TransactionsList-FlowDirection {
  flex-shrink: 0;
  margin: 0 8px;

  img {
    width: 14px;
  }
}

.sw-TransactionsList-Text {
  color: #000;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.sw-TransactionsList-TextValue {
  font-weight: 700;
}

.sw-TransactionsList-TextDate {
  color: #aaa;
}

.sw-TransactionsList-ItemChevron {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-left: 20px;
}

.sw-TransactionsList-Title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin: 0 0 5px;
}

.sw-TransactionsList-Empty {
  padding: 0 $main-wrapper-padding;
}

.sw-TransactionsList-EmptyContent {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  min-height: 150px;
  padding-bottom: 40px;
  text-align: center;
  width: 100;
}